<h2>Show sensor</h2>

<ul>

  <li>
    <strong>Temperature:</strong>
    <%= @sensor.temperature %>
  </li>

  <li>
    <strong>Humidity:</strong>
    <%= @sensor.humidity %>
  </li>

</ul>

<%= link "Edit", to: sensor_path(@conn, :edit, @sensor) %>
<%= link "Back", to: sensor_path(@conn, :index) %>
